.main {
    background-color: #2F2F3A;

    .radioStationsContainer {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
        cursor: pointer;
        outline: none;

        .radioStation {
            color: #A0A9BB;
            font-size: 150%;
        }

        #frequency {
            font-weight: bold;
        }
    }

    .hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(80, 80, 80), rgba(0, 0, 0, 0));
    }
}