.footer {
    background-color: #22222B;
    height: 100px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top: 1px solid grey;
    box-shadow: 0 8px 6px -6px black;
}